body {
    background-color: pink;
    font-family: 'Tangerine';
    font-size: 2em;
}
.diamond-background {
    background-image: url('./diamond.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.diamond {
    width: 80px;
    height: 50px;
    margin: 25px;
    display: inline-block;
    vertical-align: middle;
}

@font-face {
    font-family: 'Tangerine';
    src: url('./Tangerine.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
