body {
    background-color: pink;
    font-family: 'Tangerine', cursive;
}
.diamond-background {
    background-image: url('./diamond.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.diamond {
    width: 80px;
    height: 50px;
    margin: 25px;
    display: inline-block;
    vertical-align: middle;
}
